<!-- <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Création d'Utilisateur</title>
        <style>
            body {
                font-family: 'Arial', sans-serif;
                background-color: #f7f7f7;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }
            #userForm {
                background-color: #fff;
                padding: 20px;
                border-radius: 5px;
                 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                width: 100%;
                max-width: 400px;
                box-sizing: border-box;
            }
            #userForm input[type=text],
            #userForm input[type=email] {
                width: 100%;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid #ddd;
                border-radius: 4px;
                box-sizing: border-box; /* Ajouté pour éviter que les éléments débordent de leur conteneur */
            }
            #userForm button {
                padding: 10px;
                background-color: #5c6bc0;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.3s;
                margin-top: 10px; /* Espacement au-dessus du bouton */
            }
            #userForm button:hover {
                background-color: #3f51b5;
            }
            .checkbox-container {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
            }
            .checkbox-label {
                margin-left: 10px;
            }
            #userForm input[type=checkbox] {
                /* Pas de width: 100%; pour ne pas étendre la checkbox sur toute la largeur */
                margin-right: 10px; /* Pour de l'espace entre la checkbox et le label */
                transform: scale(1.2); /* Agrandir un peu la case à cocher */
            }
            #userForm button.secondary {
                background-color: #4CAF50; /* Couleur verte pour différencier le bouton */
            }
            #userForm button.secondary:hover {
                background-color: #45a049;
            }
        </style>
    </head>
<body>
    <form id="userForm">
        <input type="text" name="firm_name" placeholder="Nom de la Firme" required>
        <input type="text" name="first_name" placeholder="Prénom" required>
        <input type="text" name="last_name" placeholder="Nom" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="text" name="phone_number" placeholder="Numéro de Téléphone" required>
        <div class="checkbox-container">
            <input type="checkbox" name="is_admin" id="is_admin">
            <label for="is_admin" class="checkbox-label">Administrateur</label>
        </div>
        <button type="submit">Créer Utilisateur</button>
        <button type="button" class="secondary" onclick="window.location.href='/api/users/gestionEntreprise';">Gestion Entreprise</button>
    </form>

    <script>
        document.getElementById('userForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const formData = {
                firm_name: this.elements['firm_name'].value,
                first_name: this.elements['first_name'].value,
                last_name: this.elements['last_name'].value,
                email: this.elements['email'].value,
                phone_number: this.elements['phone_number'].value,
                is_admin: this.elements['is_admin'].checked
            };

            fetch('http://51.83.69.229:3000/api/users/createUser', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                window.location.href = '/api/users/gestionEntreprise';
            })
            .catch(error => console.error('Erreur:', error));
        });
    </script>
</body>
</html> -->
